* {
    box-sizing: border-box;
}

body {
    width: 100%;
    min-width: 800px;
    max-width: 1800px;
    height: 100vh;
    margin: 0px;
    
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background:url("https://a-static.besthdwallpaper.com/mad-scientist-ziggs-wild-rift-splash-art-league-of-legends-lol-wallpaper-3840x1200-65090_62.jpg") 0 0 no-repeat fixed;
    background-size: 111.25% 100%;
    
    display: flex;
    justify-content:center
}


h1,
article,
section,
div {
    padding: 0.5rem;
    border: 2px solid #0a3569;
    
}



main {
  
  
  padding: 10px;

}

h1 {
    text-align: center;
    
}

article {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    background-color: rgba(43, 43, 43, 0.8);
}

section {
    min-width: 175px;
    width: 30%;
    background-color: #424746;
    
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    background-color: #fbfbfc;
    font-size: 1.2em;
    cursor: default;
}

div:hover {
    font-weight: bold;
}

div:last-child {
    margin-bottom: 0px;
}

span, select,
input[type=text],
input[type=number] {
    border: solid 1px #631616;
    width: 100%;
    padding: 5px;
    font-weight: normal;
    border-radius: 5px;
}

button {
    width: 100%;
    height: 40px;
    font-size: 1.2em;
}

section:last-child p {
    font-weight: bold;
}

span {
    display: block;
    background-color: #834a94;
}

.border{
    background: repeating-linear-gradient(
        45deg,
        #000,
        #000 10px,
        #f1c812 10px,
        #f1c812 20px
            );
    min-width: 175px;
    height: 75px;
        
}
#list-names{
    color: darkgreen;
}
.scientist:active{
    background-color: cadetblue;
}